<% content_for :page_title do %>
  <%= link_to Spree.t('admin.tab.blog_posts'), admin_blog_posts_url %> /
  <%= Spree.t(:new_blog_post) %>
<% end %>

<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @blog_post } %>

<%= form_for :blog_post, url: collection_url do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
  <div class="text-center">
    <%= render partial: 'spree/admin/shared/new_resource_links' %>
  </div>
<% end %>
